<h1>{{results}}</h1>
<script>
  function deleteRow(tableID,currentRow) {
    try {
        var table = document.getElementById(tableID);
        var rowCount = table.rows.length;
        for (var i = 0; i < rowCount; i++) {
            var row = table.rows[i];
            /*var chkbox = row.cells[0].childNodes[0];*/
            /*if (null != chkbox && true == chkbox.checked)*/
            
            if (row==currentRow.parentNode.parentNode) {
                if (rowCount <= 1) {
                    alert("Cannot delete all the rows.");
                    break;
                }
                table.deleteRow(i);
                rowCount--;
                i--;
            }
        }
    } catch (e) {
        alert(e);
    }
  }
</script>
<form action="/" method="post">
  <label for="name">Name:</label>
  <input type="text" id="name" name="name" required/>
  <label for="reps">Reps:</label>
  <input type="number" id="reps" name="reps" />
  <label for="weight">Weight:</label>
  <input type="number" id="weight" name="weight" />
  <label for="date">Date:</label>
  <input type="date" id="date" name="date" />
  <label for="lbs">Lbs?(0=kgs, 1=lbs):</label>
  <input type="number" id="lbs" name="lbs" min="0" max="1"/>
  <input type="submit" value="Add Item" />
</form>
<br>
<table id="dataTable" style="width: 50%; text-align:center">
  <tr>
    <th>Name</th>
    <th>Reps</th>
    <th>Weight</th>
    <th>Date</th>
    <th>Lbs</th>
  </tr>
{{!-- {{#if exercise}} --}}
{{#each my_data}}
  <tr>  
    <td>{{this.name}}</td>
    <td>{{this.reps}}</td>
    <td>{{this.weight}}</td>
    <td>{{this.date}}</td>
    <td>{{this.lbs}}</td>
    <td>
      <form action="/" method="POST">
      <input type="hidden" name="id" value="{{this.id}}" />
      <input type="submit" value="delete" onclick="deleteRow('dataTable',this)" />
      </form>
    </td>
    <td>
      <form action="/edit" method="POST">
      <input type="hidden" name="id" value="{{this.id}}" />
      <input type="submit" value="edit" />
      </form>
    </td><br>    
  </tr>
{{/each}}
{{!-- {{/if}} --}}
</table>